.sign-in {
  width: 380px;
  display: flex; 
  flex-direction: column; 

  @media screen and(max-width:800px) {
    width: 90%;
  }


.title {
  margin: 10px 0;
}

.button-div {
  display: flex;
  justify-content: space-between;

  @media screen and(max-width:800px) {
    display: grid;
     grid-template-columns: 1fr 1fr;
     grid-gap: 15px;
     justify-content: center;
    
  }
}
}