.sign-in-page {
  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 60%;
    margin: auto;

    .switch-signin {
      margin-top: 10px;
      font-size: 18px;

      .signup-link {
        color: dodgerblue;
      }
    }


    @media screen and(max-width:800px) {
     padding: unset;
     width: 90%;

    } 
  }